@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Labrada&display=swap');
body{
    background-color: #2A3D45;
}
header {
    background-color: #2A3D45;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;

}
header a{
    grid-column: 1/2;
    color: #F6D5B0;
    text-decoration: none;
}
.logo{
    background-color: #848FA5;
    width: 100%;
}
nav{
    font-family: Gloock, Labrada, Times New Roman;
    color: #F6D5B0;
    background-color: #73683B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-self: center;
    border: dashed #F6D5B0;
}
nav p{
    text-align: center;
    color:#F6D5B0;
    font-size: 20px;
}
#home-imgs{
    display: grid;
}
#cactus{
    grid-column: 1/2;
    width: 159%;
    height: 100%;
}
#alli{
    grid-column: 1/2;
    width: 100%;
    height: 100%;
}
#kara{
    grid-column: 3/4;
    width: 100%;
    height: 100%;
}
#grass{
    grid-column: 3/4;
    width: 100%;
    height: 100%;
}
footer {
    background-color: #73683B;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border: dashed #F6D5B0;
    width: 100%;
}
footer p,a{
    font-family: Gloock, Labrada, Times New Roman;
    color: #F6D5B0;
    text-decoration: none;
}
#intro {
    background-color: #73683B;
    color: #F6D5B0;
    font-family: Labrada, Times New Roman;
    font-size: 15px;
    border: dashed #F6D5B0;
    text-align: center;
    padding: 30px;
    grid-column: 2/3;
    position: absolute;
    width: 34%;
    justify-self: center;
    align-self: center;
}
.social{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* subpage 1 - FAQ */
#faq{
    background-color: #73683B;
    color: #F6D5B0;
    border: dashed #F6D5B0;
    align-self: center;
    font-family: labrada;
}
#top{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    grid-gap: 100px;
}
#zoe {
    height: 92%;
    width: 78%;
    align-self: center;
}
#faq{
    height: fit-content;
    width: 120%;
    text-align: center;
    padding: 30px;
}
#faq h3{
    font-size: 25px;
}
#faq h4{
    font-size: 15px;
}
#faq p{
    font-size: 15px;
}
#bottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
#mountain{
    margin: 0 auto;
    width: 83%;
    height: 96;
}
#mom{
    width: 100%;
}
#about-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    padding: 62px;
    grid-gap: 80px;
}
#about-me p{
    color: #F6D5B0;
    background-color: #73683B;
    font-family: labrada;
    border: dashed #F6D5B0;
    grid-column: 1/2;
    text-align: center;
    height:fit-content;
    padding: 30px;
}
#me-img{
    height: 25%;

}